.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #181818;
}
